name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "npm"

      - name: Install dependencies
        run: |
          npm ci
          cd test; npm i
          cd ../test-nextjs; npm i
          cd ../test-router; npm i

      - name: test
        run: npm run test:once

      - name: Install Playwright Browsers
        working-directory: test-nextjs
        run: npx playwright install --with-deps

      - name: e2e test
        working-directory: test-nextjs
        run: npm run test
